* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #1d1d1d;
    text-align: center;
    border-left: 2px solid red;
}
header {
    display: flex;
    background-color: transparent;
    border-top: 2px solid red;
    backdrop-filter: blur(2px);
    border-left: 2px solid red;
    justify-content: space-between;
    text-shadow: 0 0 10px black;

    padding: 20px 0;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 4;
}
@media only screen and(max-width: 1000px) {
    header {
        display: none;
        background-color: red;
    }
}
ol {
    display: inline-flex;
    list-style: none;
    
}
.navTextMod {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    transition: all .3s ease-in-out;
    border: solid 1px orange;
    z-index: 10;
}
.navTextMod:link:hover {
    color: orange;
    transition: all .3s ease-in-out;
}

.navLink {
    padding: 20px;
    border: solid transparent;
    border: solid 1px orange;
}
button {
    background-color:rgb(188, 255, 201);
    border: 0;
    padding: 4px 10px;
}
.buttonNav {
    padding: 20px;
}

section {
    margin-top: 2147483647px;
    background-color: orange;
    margin-top: 3rem;
    display: flex;

}
.grid-1 {
    background-color: red;
    z-index: 2;
    width: 70%;
}
.grid-2 {
    background-color: yellow;
    z-index: 2;
    width: 30%;
}





